:root {
    --lpx-logo: url('/images/logo/leptonxlite/logo-light-thumbnail.png');
    --lpx-logo-icon: url('/images/logo/leptonxlite/logo-light-thumbnail.png');
}
:root .abp-account-layout .lpx-brand-logo{
    --lpx-logo: url('/images/logo/leptonxlite/logo-dark-thumbnail.png');
    background-position: left;
}
